.mod_article {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

.block {
	grid-column: span 12;
}

.w25 {
	grid-column: span 3;
}

@media (max-width: 768px) {
	.w25 {
		grid-column: span 6;
	}
}

.w33 {
	grid-column: span 4;
}

@media (max-width: 768px) {
	.w22 {
		grid-column: span 12;
	}
}

.w50 {
	grid-column: span 6;
}

@media (max-width: 768px) {
	.w50 {
		grid-column: span 12;
	}
}

.w66 {
	grid-column: span 8;
}

@media (max-width: 768px) {
	.w66 {
		grid-column: span 12;
	}
}

.w75 {
	grid-column: span 9;
}

@media (max-width: 768px) {
	.w75 {
		grid-column: span 12;
	}
}

.w100 {

	grid-column: span 12;
}
