.mod_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
	width: 100%;
}

.w25 {
	width: calc(25% - 40px);
}

@media (max-width: 768px) {
	.w25 {
		width: calc(100% - 40px);
	}
}

.w33 {
	width: calc(33% - 40px);
}

@media (max-width: 768px) {
	.w22 {
		width: calc(50% - 40px);
	}
}

.w50 {
	width: calc(50% - 40px);
}

@media (max-width: 768px) {
	.w50 {
		width: calc(100% - 40px);
	}
}

.w66 {
	width: calc(66% - 40px);
}

@media (max-width: 768px) {
	.w66 {
		width: calc(100% - 40px);
	}
}

.w75 {
	width: calc(75% - 40px);
}

@media (max-width: 768px) {
	.w75 {
		width: calc(100% - 40px);
	}
}

.w100 {
	width: 100%;
}